/*ジェネラル決定事項*/
body {
  font-family: "Times New Roman";
}

/* アイコンタグ */
a {
  text-decoration: none;
}

.container {
  width: 80%;
  padding: 0 15px;
  margin: 0 auto;
}

/* 黒帯ヘッダー */
header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position: fixed;
  top: 0;
  z-index: 10;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 0.5s;
}

.header-right:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.home-btn {
  line-height: 65px;
  padding: 0 25px;
  display: block;
  color: white;
}

/* 見出し-top-wrapper */
.top-wrapper {
  background: -moz-linear-gradient(top, #405DE6, #833AB4 30%, #E1306C 60%, #F56040);
  background: -webkit-linear-gradient(top, #405DE6, #833AB4 30%, #E1306C 60%, #F56040);
  background: linear-gradient(to bottom, #405DE6, #833AB4 30%, #E1306C 60%, #F56040);

  color: white;

  padding: 15% 0% 15% 0%;
  background-size: cover;
  text-align: center;
}

.top-wrapper h1 {
  font-size: 60px;
  letter-spacing: 5px;
}

.top-wrapper p {
  opacity: 0.7;
}

/*　counrty-wrapper */
.heading {
  padding-top: 60px;
  padding-bottom: 30px;
  color: #5f5d60;
}


h2 {
  text-align: center;
}


.countries {
  display: flex;
  justify-content: center;
}

.country img {
  width: 300px;
  padding: 10px;
}

.country img:hover {
  opacity: 0.7;
}

/* フッター */
footer p {
  font-size: 12px;
}

footer {
  padding-top: 30px;
}